body {
  height: 6000px;
  color: #ffffff;
}

.mainWidget {
  padding: 10px;
  background: royalblue;
}
.clock{
  width: 400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("https://whale-store.pstatic.net/20230321_279/1679374490459iURk0_JPEG/9.jpg?type=f860_520"); */
  background-color: orange;
  /* background-size: contain; */
  /* background-attachment: fixed; */
  border-radius: 20px 0;
}
.clock_date {
  padding: 10px;
  font-size:24px;
}

.clock_time {
  display: flex;
}

.clock_time .clock_timeMain {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
}

.clock_time .clock_timeSub {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 35px;
}

.clock_time .clock_timeSub .period {
  display: flex;
  width: 72px;
  justify-content: center;
  padding-block-start: 10px;
  border-block-end: 1px solid hsla(0, 0%, 100%, .3);
}

.clock_time .clock_timeSub .second {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 200;
}