body {
  height: 6000px;
  color: #ffffff;
}

.mainWidget {
  position: relative;
  padding: 10px;
  background: royalblue;
  top: 300px;
}
.clock{
  width: 400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://whale-store.pstatic.net/20230321_279/1679374490459iURk0_JPEG/9.jpg?type=f860_520");
  background-color: orange;
  background-size: contain;
  background-attachment: fixed;
  border-radius: 20px 0;
}
.clock_date {
  padding: 10px;
  font-size:24px;
}

.clock_time {
  display: flex;
}

.clock_time .clock_timeMain {
  /* font-family: clock-digita, sans-serif; */
  font-size: 100px;
  font-weight: 700;
}

.clock_timeSub {
  display: grid;
  font-size: 40px;
}

.clock_timeSub .period {
  display: flex;
  width: 72px;
  justify-content: center;
}

.clock_timeSub .second {
  display: flex;
  justify-content: center;
}