body {
  color: #ffffff;
}

.mainWidget {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://whale-store.pstatic.net/20230321_55/1679374479964ojm1N_JPEG/4.jpg?type=f860_520");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.clock{
  width: 500px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  border: 1px solid #fff;
}
.clock_date {
  font-size: 24pt;
}

.clock_time {
  display: flex;
  width: 500px;
}

.clock_time .clock_timeMain {
  font-size: 100pt;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1;
}

.clock_time .clock_timeSub {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 35px;
  font-weight: 100;
}

.clock_time .clock_timeSub .period {
  display: flex;
  width: 70px;
  justify-content: center;
  padding-block-start: 10px;
  border-block-end: 1px solid hsla(0, 0%, 100%, .5);
}

.clock_time .clock_timeSub .second {
  display: flex;
  justify-content: center;
  align-items: center;
}